<footer class="footer">
	<div class="footer__main">
		<div class="footer__container">
			<div class="footer__contact">
				<span class="text-negative">
				<br>Feel free to drop an “Hi or Hola <any emoji="waving-hand"></any> ” back, <br>
				just writing me a <a target="_blank" href="https://twitter.com/MarinaAisa" class="ani twitter"><span>tweet</span></a>, or sending me an <a target="_blank" href="mailto:marina@marinaaisa.com" class="ani"><span>email</span></a>. <br></span>
				As you see, I love emojis so don’t forget to add one <any emoji="winking-face"></any> .
				<div class="give-five">
					<button id="button2" class="btn-primary">Twitter</button>
					<button id="button1" class="btn-primary">Say a "Hi" back</button>
					<button id="button3" class="btn-primary">Email</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__info">
		<div class="footer__container">
			<div class="footer__copyright">
				© 2017 — Designed and <a target="_blank" href="https://github.com/marinaaisa/marinaaisa-website-2017" class="ani"><span>coded</span></a> by<span class="text-negative"> Marina Aisa</span>.
			</div>
			<a href="#top" class="footer__top-page">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>