* { box-sizing: border-box; }

html{
  height: 100%;
}

body {
  background-color: $background-primary;
	min-width: 320px;
	height: 100%;
  overflow-x: hidden;
  transition: transform .5s ease-out;

  @media (min-width: $grid-breakpoint){
    padding-left: 0;
    padding-right: 0;
  }

  &.open-menu{
    @media (max-width: $grid-breakpoint - 1){
      transform: translateX($nav-responsive-width);
    }
  }
}

.wrapper{
  position: relative;
  padding-left: 0;
  top: $header-height-breakpoint;
  height: calc(100% - #{$header-height-breakpoint});
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  @media (min-width: $grid-breakpoint){
    height: auto;
    top: initial;
  }
}

::selection { background: $secondary; }

a {
  text-decoration: none;
  color: $secondary;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  &:hover,
  &.active,
  &:focus{
    outline: 0;
    text-decoration: underline;
  }
  &.ani {
    text-decoration: none;
    &:hover {
      color: lighten($secondary,20%);
    }
    span {
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 1.5px;
        bottom: .4px;
        width: 0;
        background-color: lighten($secondary,20%);
        -webkit-transition-property: width;
        -moz-transition-property: width;
        -o-transition-property: width;
        transition-property: width;
        -webkit-transition-duration: .4s;
        -moz-transition-duration: .4s;
        -o-transition-duration: .4s;
        transition-duration: .4s;
      }
    }
  }
}
a.ani:hover span:after {
  width: 100%;
}

.fa{
  text-decoration: none;
  display: inline-block;
  &:hover,
  &.active,
  &:focus{
    outline: 0;
    text-decoration: none;
  }
}

img{
  max-width: 100%;
  height: auto;
}

.shape{
  width: 100%;
  max-height: 100%;
}
