---
title: Coming Soon 2017
body: home
---
<div class="main-content">
	<div class="intro">
		<div class="container">
			<div class="hero">
				<div class="hero__content">
					<h1>Coming soon 🙃</h1>
					<p>You can send me an "Hola 👋" to my <a href="https://twitter.com/MarinaAisa">Twitter.</a></p>
					<p>Or check my <a href="https://www.linkedin.com/in/marinaaisa/">Linkedin.</a></p>
				</div>
			</div>
		</div>
	</div>
</div>