---
title: Coming Soon 2017
body: home
layout: home
---
<div class="hero" id="hero">
	<div class="hero__content">
    <img src="/images/marina-aisa-photo.png" class="hero__profile" alt="Marina Aisa Picture" />
    <div class="hero__text">
      <h1 id="hero-text"></h1>
    </div>
	</div>
</div>
<div id="portfolio" class="portfolio">
  <div class="portfolio__title">
    <h1>Design Portfolio <any emoji="writing-hand" emoji-tone="light"></any></h1>
  </div>
  <div class="portfolio__content">
    <%= partial "partials/portfolio" %>
  </div>
</div>
<div class="call-to-action">
  <div class="call-to-action__content">
    <div class="floating-shapes">
      <svg class="fa shape">
        <use xlink:href="#shape-Oval" />
      </svg>
      <svg class="fa shape">
        <use xlink:href="#shape-Triangle" />
      </svg>
      <svg class="fa shape">
        <use xlink:href="#shape-Rectangle 2" />
      </svg>
      <svg class="fa">
        <use xlink:href="#shape-Rectangle" />
      </svg>
      <svg class="fa">
        <use xlink:href="#shape-Oval" />
      </svg>
      <svg class="fa">
        <use xlink:href="#shape-Polygon" />
      </svg>
    </div>
    <div class="call-to-action__text">
      <p>
        If you want to check more designs that I have done,
        check my <a target="_blank" href="https://dribbble.com/MarinaAisa" class="ani dribbble"><span>Dribbble</span></a>.
      </p>
    </div>
  </div>
</div>
<div class="about" id="about">
  <div class="about__container">
    <div class="about__title">
      <h1>About Marina <any emoji="writing-hand" emoji-tone="light"></any></h1>
    </div>
    <div class="about__content">
      <p>I’m a Product Designer (UI/UX) and Front-End Developer based in <a href="#" class="ani"><span>Barcelona</span></a>. I decided to study in Helsinki and I become economically independent when I was 18 working in what I love. I like new technologies as VR or mobile. I design and code as my passion and work, and I travel as my hobby. I fight for empowering women through technology.</p>
    </div>
  </div>
</div>
<div class="experience">
  <div class="experience__container">
    <div class="experience__title">
      <h1>Work Experience <any emoji="woman-technologist"></any></h1>
    </div>
    <ul class="experience__content">
      <%= partial "partials/work-experience" %>
    </ul>
    <div class="experience__title">
      <h1>Education <any emoji="nerd-face"></any></h1>
    </div>
    <ul class="experience__content">
      <%= partial "partials/education-experience" %>
    </ul>
  </div>
</div>
<div class="call-to-action">
  <div class="call-to-action__content">
    <div class="call-to-action__image">
      <img src="images/">
    </div>
    <div class="call-to-action__text">
      <p>
        If you want to know what other amazing <any emoji="two-hearts"></any> proffesionals that I admire and I have worked with think about me <any emoji="flushed-face"></any>, check my <a target="_blank" href="https://dribbble.com/MarinaAisa" class="ani dribbble"><span>Linkedin</span></a>.
      </p>
    </div>
  </div>
</div>