---
title: Coming Soon 2017
body: home
layout: home
---
<div class="hero" id ="hero">
	<div class="hero__content">
    <div class="hero__text">
      <h1 id="hero-text"></h1>
    </div>
		<img src="../images/marina-aisa-photo.png" class="hero__profile" alt="Marina Aisa Picture" />
	</div>
</div>