.call-to-action {
  background: $background-secondary;

  &__content {
    @extend .container;
    display: table;
    position: relative;
    height: 17rem;
  }
  &__img {
    float: left;

    img {
      width: 50%;
    }
  }
  &__text {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}