.call-to-action {
  background: $background-primary-darker;

  &__container {
    @extend .container;
    position: relative;
    @media (min-width: $screen-sm){
      display: table;
    }
  }
  &__image {
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 0;
    text-align: center;
    @media (min-width: $screen-sm){
      display: table-cell;
      text-align: left;
      padding: 5rem 5rem 5rem 0;
    }
    img {
      width: 50%;
    }
  }
  &__text {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    p {
      margin: 0;
    }
    @media (min-width: $screen-sm){
      width: 40%;
      display: table-cell;
      text-align: right;
      padding-bottom: 0rem;
    }
  }
}