.call-to-action {
  background: $background-primary-darker;

  &__content {
    @extend .container;
    display: table;
    position: relative;
    height: 17rem;
  }
  &__img {
    float: left;

    img {
      width: 50%;
    }
  }
  &__text {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1000;
      p {
        background-color: $background-primary;
        padding: 2rem;
        margin: 0;
      }
  }
}