.dribbble {
  background: $background-secondary;

  &__container {
    display: table;
    position: relative;
    height: 17rem;
  }
  &__image {
    display: table-cell;
    vertical-align: middle;
    padding: 5rem 5rem 5rem 0;
    img {
      width: 50%;
    }
  }
  &__text {
    width: 100%;
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $text-negative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1000;
    p {
      background-color: $background-primary;
      padding: 2rem;
      margin: 0;
    }
  }
  &__posts {
    display: table-row-group;
  }
  &__post {
    @include make-xs-column(2);
    padding: 0;
    opacity: .3;
    line-height: 0;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover {
      opacity: 1;
    }
  }
  &__text--professionals {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    position: relative;
    z-index: 1000;
    p {
      margin: 0;
    }
  }
}