.experience {
  position: relative;
  padding: 0;

  &__container {
    @extend .container;
  }

  &__title {
    @extend .title;
  }

  &__content {
    vertical-align: middle;
    list-style: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 11rem;
      left: 21%;
      width: 2px;
      display: block;
      margin-left: -1.5px;
      background-color: $secondary-lighter;
      @media (max-width: $screen-sm){
        display: none;
      }
    }

    > li {
      position: relative;
      margin-bottom: 1rem;
      min-height: 5rem;

      &:before,&:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
      @media (min-width: $screen-sm){
        margin-bottom: 5rem;
      }
    }
  }

  &__time-place {
    @include make-sm-column(2, 0);
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    @media (min-width: $screen-sm){
      margin-bottom: 0;
    }
  }
  &__time {
    .active {
      color: $primary;
    }
  }

  &__panel {
    @include make-sm-column(9, 0);
    position: relative;
    width: 100%;
    padding: 0;
    text-align: left;
    @media (min-width: $screen-sm){
      padding: 0 0 0 2.7rem;
    }
  }
  &__image {
    position: relative;
    @include make-column(2, 0);
    @include make-sm-column(1, 0);
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      height: calc(100% + 6px);
      border-radius: 100%;
      background: white;
      border: 2px solid $secondary-lighter;
      width: calc(100% + 6px);

      .experience__item--active & {
        border: 2px solid $primary;
      }
    }

    img {
      z-index: 100;
      position: relative;
      width: 100%;
      height: auto;
      margin-left: 0;
      border-radius: 100%;
      text-align: center;
      float: left;
    }
  }
  &__position,
  &__place,
  &__studies {
    color: $secondary;
  }
  &__description {
    margin-top: 2rem;
    @media (min-width: $screen-sm){
      margin-top: 0;
    }
  }
  &__learnt {
    color: $secondary;
  }
  &__place,
  &__time {
    display: inline-block;
    @media (min-width: $screen-sm){
      display: block;
    }
  }
  &__time {
    float: right;
    @media (min-width: $screen-sm){
      float: initial;
    }
  }
  &__position,
  &__studies {
    @media (max-width: $screen-sm){
      padding: .3rem 0 0 7rem;
      min-height: 5rem;
    }
  }
}
ul {
  padding-left: 0;
}
