.experience {
  position: relative;
  padding: 0;

  &__container {
    @extend .container;
  }

  &__title {
    margin: 2rem 0 5rem 0;
    color: $background-secondary;
    font-family: $font-family-semibold;
    @media (min-width: $screen-sm){
      margin: 7rem 0 5rem 0;
    }
  }

  &__content {
    vertical-align: middle;
    list-style: none;
    position: relative;
    @extend .row;

    &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 22.5%;
    width: 2px;
    display: block;
    margin-left: -1.5px;
    background-color: #f1f1f1;
    }

    > li {
      position: relative;
      margin-bottom: 50px;
      min-height: 50px;

      &:before,&:after {
        content: " ";
        display: table;
      }

      &:after {
        clear: both;
      }
    }
  }

  &__time-place {
    @include make-sm-column(2, 0);
    padding-top: 1.5rem;
  }
  &__time {
    .active {
      color: $secondary;
    }
  }

  &__panel {
    @include make-sm-column(9, 0);
    position: relative;
    width: 100%;
    padding: 0 0 0 2.7rem;
    text-align: left;
  }
  &__image {
    position: relative;
    @include make-sm-column(1, 0);
    @media (max-width: $screen-sm){
      display: none;
    }
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -9px;
      left: -9px;
      height: calc(100% + 14px);
      border-radius: 100%;
      background: white;
      border: 2px solid #f1f1f1;
      width: calc(100% + 14px);

      .experience__item--active & {
        border: 2px solid $secondary;
      }
    }

    img {
      z-index: 100;
      position: relative;
      width: 100%;
      height: auto;
      margin-left: 0;
      border-radius: 100%;
      text-align: center;
      float: left;
    }
  }
}
