.portfolio {
  width: 100%;
  position: relative;
  @extend .container;

  &__title {
    margin: 20px 0 30px 0;
    color: $background-secondary;
    font-family: $font-family-semibold;
    @media (min-width: $screen-sm){
      margin: 70px 0 30px 0;
    }
  }

  &__content {
	  vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    @include make-row();
  }
  &__item-12 {
    @include make-sm-column(12);
    @include margin-bottom(20px);
  }
  &__item-6 {
    @include make-sm-column(6);
    @include margin-bottom(20px);
  }
  &__image {
    margin-bottom: 1rem;
  }
  &__client {
    float: right;
  }
  &__description {
    float: left;
  }
}