.wave {
  animation: 1.5s wave linear infinite;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(0deg); }
}